@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 600px;
    min-height: 400px;
    background-color: darkgrey;
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

p {
    text-align: left;
    color: gray;
}

#mainvisual {
	size: 500px;
	color: black;
	background-color: gray;
}