@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 600px;
    min-height: 400px;
    background-color: darkgrey;
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

p {
    text-align: left;
    color: gray;
}

#mainvisual {
	color: black;
	background-color: gray;
}

.centerMiddle{
    margin: -200px 0 0 -300px;  /*縦横半分をネガティブマージンでずらす*/
    position: absolute;     /*body要素に対して絶対配置*/
    top: 50%;       /*上端を中央に*/
    left: 50%;      /*左端を中央に*/
    width: 600px;   /*横幅*/
    height: 400px;  /*縦幅*/
    background-color: darkgrey;
}
